{% extends 'kgl/base.html'%}
 {% block content%}
{% load static %}
<br></br>

<div class="container">
  <h1 class="text-center">TOTAL SALES MADE</h1><br>

    
    <div class="row text-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Amount Expected </h5>
                    <p class="card-text">UGX{{total_expected}}</p>
                </div>
            </div>
        </div>
    <div class="row text-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Amount Received</h5>
                    <p class="card-text">UGX{{total}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    
                    <h5 class="card-title">Total Debt Issued </h5>
                    <p class="card-text">UGX{{total_change}}</p>
              
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Net Amount</h5>
                    <p class="card-text">UGX{{net}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Customer name</th>
        <th scope="col">Item Bought</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(UGX)</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">Change Collected</th>
      </tr>
    </thead>
    {% for sale in sales %}
    <tbody>
      <tr>    
        <td>{{sale.issued_to | title}}</td>
        <td>{{sale.item | title}}</td>
        <td>{{sale.quantity}}</td>
        <td>UGX{{sale.unit_price}}</td>
        <td>UGX{{sale.get_total}}</td>
        <td>UGX{{sale.amount_received}}</td>
        <td>UGX{{sale.get_change}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}