{% extends 'kgl/base.html' %}
 {% block content%}
<br></br>

{% load static %}

<br></br>

<div class = "container-fluid">
  <form class="d-flex">
   {{ product_filters.form.as_p }} 
    <button class="btn btn-outline-danger btn" style="width: 120px; height: 30px;" type="submit" method="POST">Search</button>
  </form>
</div>
<br>


<div class = "container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Branch</th>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(UGX)</th> 
        <th scope="col">View</th>  
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>    
        <td>{{product.stock_branch_name}}</td>
        <td>{{product.item_name}}</td>
        <td>{{product.total_quantity}}</td>
        <td>UGX{{product.unit_price}}</td>
        <td><a href="{% url 'product_detail' product.id %}"><button class="btn btn-outline-primary btn font-weight-bolder" style="width: 100px; height: 50px;">View Details</button></a></td>
        <td>
          <button class="btn btn-outline-danger btn" style="width: 120px; height: 50px;" data-toggle="modal" data-target="#deleteModal{{product.id}}">Delete Item</button>
        </td>
      </tr>

      <!-- Delete Confirmation Modal -->
      <div class="modal fade" id="deleteModal{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{product.id}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel{{product.id}}">Confirm Deletion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <a href="{% url 'delete_detail' product.id %}">
                <button type="button" class="btn btn-danger">Delete</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody> 

  </table>
</div>
{% endblock%}