{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title style="color: black ">MUTAIINA N. EDGAR</title>
    <link rel = "stylesheet" href = {% static 'kgl/main.css' %}>
     <!-- Raleway font -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <!-- Montserrat font -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
    footer{
    color: #000;
    text-align: center;
    background: #ac6824;
    width: 100%;
    position: absolute;
}
</style>
   
</head>
<body>
  <br><br>
  <div class = "container-fluid">
    <div class="justify-center">
      <h1 class="text-center"><img src="/static/kgl/images/grocery.jpg" width="70px" height="70px" border-radius: "40px"; alt="">Happy Hoe Grocery</h1>
    </div>
    <br>
    <h2 class= "text-center">ITEMS IN STOCK</h2>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-outline-success me-md-2" type="submit"><a class="text-dark" href="{% url 'login' %}">Login</a></button>
    </div>

    

   <div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">
            <br><br>

            

            <div class="bg-light">
                <img src="{% static 'kgl/images/beans.jpg' %}" width="500px" height="500px" alt="product-pic" class="img-fluid" />
            </div>

                <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="login" class="text-dark">BEANS</a> </h5>
                        
                        <h5 class="m-0"> <span class="text-muted"></span></h5>
             </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            Ugx:25,000
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">
            <br><br>


            <div class="bg-light">
                <img src="{% static 'kgl/images/maize.jpg' %}" width="500px" height="500px" alt="product-pic" class="img-fluid"/>
             </div>

            <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="login" class="text-dark">MAIZE</a> </h5>
                    
                        <h5 class="m-0"> <span class="text-muted"></span></h5>
                    </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            Ugx:15,000
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">
            <br><br>


            <div class="bg-light">
                <img src="{% static 'kgl/images/rice (1).jpg' %}" width="500px" height="500px" alt="product-pic" class="img-fluid"/>
             </div>

            <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="login" class="text-dark">RICE</a> </h5>
                     
                        <h5 class="m-0"> <span class="text-muted"></span></h5>
                    </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            Ugx:60,000
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">
            <br><br>


            <div class="bg-light">
                <img src="{% static 'kgl/images/sorghum.webp' %}" alt="product-pic" class="img-fluid" />
             </div>

            <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="login" class="text-dark">SORGHUM</a> </h5>
                    
                        <h5 class="m-0"> <span class="text-muted"></span></h5>
                    </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            Ugx:45,000
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">
            <br><br>


            <div class="bg-light">
                <img src="{% static 'kgl/images/gnuts.jpg' %}" alt="product-pic" class="img-fluid" />
             </div>

            <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="login" class="text-dark">G-NUTS</a> </h5>
                     
                        <h5 class="m-0"> <span class="text-muted"></span></h5>
                    </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            Ugx:30,000
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">
            <br><br>


            <div class="bg-light">
                <img src="{% static 'kgl/images/soyabeans.jpg' %}" alt="product-pic" class="img-fluid" />
             </div>

            <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="login" class="text-dark">SOYA BEANS</a> </h5>
                    
                        <h5 class="m-0"> <span class="text-muted"></span></h5>
                    </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            Ugx:40,000
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">
            <br><br>


            <div class="bg-light">
                <img src="{% static 'kgl/images/millet.jpg' %}" alt="product-pic" class="img-fluid" />
             </div>

            <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="login" class="text-dark">MILLET</a> </h5>
                     
                        <h5 class="m-0"> <span class="text-muted">Pending</span></h5>
                    </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">
            <br><br>


            <div class="bg-light">
                <img src="{% static 'kgl/images/cowpeas.webp' %}" alt="product-pic" class="img-fluid" />
             </div>

            <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="login" class="text-dark">COW PEAS</a> </h5>
                      
                        <h5 class="m-0"> <span class="text-muted"></span></h5>
                    </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            Ugx:35,000
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->
</div>
   

 <!-- end container -->
     <br>
        
     
   
     
    
   
     
  <br><br><br>
   <div class="d-grid gap-2 col-6 mx-auto">
    <div class="text-center">
      <footer class="">
        <div class="footer">
          &copy; Happy Hoe Grocery <br> Designed by MUTATIINA N. EDGAR 
        </footer>
      </footer>
    </div>
   </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>