{% extends 'kgl/base.html'%} 
{% load crispy_forms_tags%} 
{% load static %}
{% block content%}

<br/>

<div class="container" style="">
  <form method="POST" action = "" 
  style=" 
    border: 1px solid green;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);">
    <h1 class = "text-center
    ">CREDIT SALES</h1><br>
    {% csrf_token %} 
    {{sales_form | crispy}}
    <input type = "submit" class="btn btn-secondary btn"type="button">
  </form>
</div>


{% endblock %}