{% extends 'kgl/base.html'%}

{% block extra_css %}
<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 20px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .card-header {
    background-color: #f8f9fa;
    border-bottom: none;
    font-weight: bold;
    padding: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    color: #007bff;
    margin-bottom: 15px;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    transition: all 0.3s ease;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    transform: scale(1.05);
  }
  
  @media (max-width: 576px) {
    .container {
      padding: 0 15px;
    }
    
    .card {
      margin-bottom: 15px;
    }
  }
</style>
{% endblock %}

{% block content %}
<br><br>
<div class="container">
  <h1 class="card-header text-center">ALL RECEIPTS</h1><br>
  {% for sale in sales %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Customer : {{sale.issued_to | title}}</h3>
      <h6 class="card-text">Item : {{sale.item}}</h6>
      <h6 class="card-text">Amount Paid:  UGX{{ sale.amount_received }}</h6>
      <h6 class="card-text">Quantity: {{sale.quantity }}</h6>
      
      <div style="flex: 1">
     
        <a href="{% url 'receipt_detail' sale.id %}">
          <input
            type="submit"
            value="Final Receipt"
            class="btn btn-danger"
            type="button"
          />
        </a>
      </div>
    </div>
  </div>
  <br>

  {% endfor %}
  <button type="submit" class="btn btn-outline-success primary" style="width: 100px; height: 50px;"><a href="/receipt" style="text-decoration:none; color:orange; font-weight:bolder;">Back</a></button>

</div>
{% endblock %}